# Directories to ignore
models/
sft_output/
unsloth_compiled_cache/
__pycache__/
.venv/

# Environment files
.env

# Model and checkpoint files
*.safetensors
*.pt

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Jupyter Notebooks
*.ipynb